@charset "utf-8";

body{
margin:0;
}


header {
  background-color:#eee;
  text-align: center;
  padding: 32px 0 ;
}
/*header>img{*/
header img{
  border-radius:50%;
  margin-bottom: 16px;

}


h1{
  margin:0;
  font-weight: normal;
  font-size: 24px;
  
}

p{
  margin: 0 ;
}

main {
padding-top: 64px;
}


h2{ 
  margin:0;
 font-weight: normal; 
 font-size: 24px;
 text-align: center;
}

h3{margin:0;
  font-weight: normal;
  font-size: 20px;
margin-top: 16px
;}

 
  section{ width: 400px;
    margin:64px auto 0;
    

}

section p{
  margin-top: 16px;
  line-height: 1.8;

}

footer{border-top:1px solid #ccc;
  text-align: center;
  padding: 64px;
}

small{font-size: 14px;
  color: #aaa;

}

address{margin-top: 16px;}

a:hover{
  opacity: 0.7;
}
  
